body {
  --main-width: 1440px;
  --header-height: 4rem;
  --bg-color: #fcfcff;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: var(--bg-color);
  font-size: 16px;
}

main {
  max-width: var(--main-width);
  margin: 0 auto;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-color: black;
  }
}

pre {
  white-space: break-spaces;
}

code {
  background-color: #fff;
  padding: 0 4px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  color: #d73a49;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  &:hover {
    background-color: #777;
  }
}

*::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
